html {
  font-size: 62.5%;
}

body {
  font-family: 'Armata', sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed5e1f+0,eddf21+100 */
  background: #ed5e1f;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ed5e1f 0%, #eddf21 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ed5e1f 0%, #eddf21 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ed5e1f 0%, #eddf21 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ed5e1f', endColorstr='#eddf21', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.container {
  display: flex;
  min-height: 98vh;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  max-width: 500px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.header {
  font-size: 3.0rem;
  margin-bottom: 0;
  text-align: center;
  color: #484848;
}

.subheader {
  font-size: 1.1rem;
  padding-bottom: 10px;
  color: #767676;
  border-bottom: 1px solid lightgrey;
}

label + input,
label + textarea {
  display: block;
}

input,
textarea,
button {
  margin-right: auto;
  margin-left: auto;
}

label,
button {
  display: block;
  text-align: center;
}

label {
  font-size: 1.5rem;
  margin-top: 7px;
  margin-bottom: 7px;
}

input {
  width: 80%;
  padding-left: 5px;
  max-width: 450px;
  height: 25px;
}

textarea {
  width: 80%;
  padding-left: 5px;
  max-width: 450px;
}

.btn-submit {
  font-size: 16px;
  width: 80%;
  padding-left: 5px;
  max-width: 450px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: box-shadow .3s ease;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: cornflowerblue;
}

.btn-submit:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
